{% extends 'core/base.html'%}
{% block content %}
<div class="container mt-4">
    <h1 class="text-warning mb-5 border-bottom">Skills</h1>
    <h5 class="text-white">A programming language is a formal language comprising a set of 
    strings that produce various kinds of machine code output. Programming languages are one kind of 
    computer language, and are used in computer programming to implement algorithms.
    Most programming languages consist of instructions for computers. There are programmable machines that 
    use a set of specific instructions, rather than general programming languages. Since the early 1800s, 
    programs have been used to direct the behavior of machines such as Jacquard looms, music boxes and player 
    pianos. The programs for these machines (such as a player piano's scrolls) 
    did not produce different behavior in response to different inputs or conditions.</h5>
<div class="row text-white">

    <div class="col-sm-5">
        <h3 class="mt-3">HTML/CSS</h3>
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" 
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%
        </div>
    </div>
</div>

<div class="col-sm-5 offset-sm-2">
    <h3 class="mt-3">JavaScript</h3>
    <div class="progress">
        <div class="progress-bar bg-blue" role="progressbar" style="width: 95%" 
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">95%</div>
    </div>
</div>

<div class="col-sm-5">
    <h3 class="mt-5">Python</h3>
    <div class="progress">
        <div class="progress-bar bg-blue" role="progressbar" style="width: 80%" 
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">80%</div>
    </div>
</div>


<div class="col-sm-5 offset-sm-2">
    <h3 class="mt-5">Django</h3>
    <div class="progress">
        <div class="progress-bar bg-blue" role="progressbar" style="width: 75%" 
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">75%</div>
    </div>
</div>

<div class="col-sm-5">
    <h3 class="mt-5">SQL</h3>
    <div class="progress">
        <div class="progress-bar bg-blue" role="progressbar" style="width: 69%" 
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">69%</div>
    </div>
</div>


<div class="col-sm-5 offset-sm-2">
    <h3 class="mt-5">Other</h3>
    <div class="progress">
        <div class="progress-bar bg-blue" role="progressbar" style="width: 58%" 
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">58%</div>
    </div>
</div>
</div>
</div>
</div>
{% endblock content %}
